[submodule "SoCNow/jigsaw"]
	path = SoCNow/jigsaw
	url = https://github.com/shahzaibk23/jigsaw
[submodule "SoCNow/caravan"]
	path = SoCNow/caravan
	url = https://github.com/shahzaibk23/caravan
[submodule "SoCNow/buraq_mini"]
	path = SoCNow/buraq_mini
	url = https://github.com/shahzaibk23/buraq_mini
	branch = decoupled-interface
[submodule "SoCNow/nucleusrv"]
	path = SoCNow/nucleusrv
	url = https://github.com/merledu/nucleusrv
	branch = trace-1.0
[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
	branch = 0.1
