<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SoC-Now</title>
    <link href="assets/bs/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<style>
    body{
        overflow-x: hidden;
    }
</style>
<body class="hero-main">

    <section class="clean-block" style="height: 100%;">
        <div class="row" style="height:100% ">
            <div class="col-md-8 glass">
                <div class="container center" style="margin-top: 10vh;">
                   <a href="index.html"> <img src="assets/img/socLogo.png" style="width: 50%;" /> </a>
                    
                    <div class="container" style="margin-top: 5vh; text-align: justify;font-size: large;">
                        <h1>About</h1>
                        <p>An open source no cost tool for creating customized SoC using No Code.
                            This Mini SoC Generator will generate an System on Chip (SoC).
                            It will be based on RISC-V ISA (IMFC extensions) (32-bit).
                            It will take specifications of the SoC as parameters.
                            All the Modules will be parameterized and reusable, for anyone who 
                            requires just a single part instead of an entire SoC.
                            High Level approaches will be used by using CHISEL (Constructing 
                            Hardware in Scala Embedded Language)</p>
                    </div>
                
                </div>

            </div>
            <div class="col-md-4">
                <div class="nav">
                    <div class="active" style="margin-right:20px ;"> <a href="about1.html"> About </a></div>
                    <div><a href="contact1.html"> Contact </a></div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="assets/bs/js/bootstrap.js" ></script>
</body>
</html>