<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoC-Now</title>
    <link href="assets/bs/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<style>
    body{
        overflow-x: hidden;
    }
</style>
<body class="hero-grad">
    <section class="clean-block" style="height: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div style="text-align: left;">
                    <img src="assets/img/socLogo.png" style="width: 40%; margin-top: 10px;" /><br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav justify-content-evenly">
                    <div class="active"> <a href="home.html"> Home </a></div>
                    <div> <a href="about2.html"> About </a></div>
                    <div><a href="contact2.html"> Contact </a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: right;">
                    <img src="assets/img/profile.png" style="width: 20%; margin-top: 10px;" />
                </div>
            </div>
        </div>
       
       
        <div class="row" style="margin-top: 3vh;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="height: 100%;text-align: center;">
                <br>
                <a href="core.html" style="text-decoration: none; color: white;"><div class="glass d-flex justify-content-between align-items-center" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 10px 15px;border: solid 1px rgba(255, 255, 255, 0.5); margin-top: 20px;">
                    <div style="text-align: left;padding-left: 20px;">
                        <div>
                            <h4 class="head" style="width: 250px;">
                                Customize SoC
                            </h4>
                        </div>
                        
                        <p>
                            Generate a customized SoC with Core extensions, devices and bus interconnect of your choice.
                        </p>
                    </div>
                    <img src="assets/img/bigarrow.png" style="width: 20%;" />
                    
                </div></a>
                <div class="glass d-flex justify-content-between align-items-center" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 10px 15px;border: solid 1px rgba(255, 255, 255, 0.5);  margin-top: 20px;">
                    <div style="text-align: left;padding-left: 20px;">
                        <div>
                            <h4 class="head" style="width: 250px;">
                                Reusable Component
                            </h4>
                        </div>
                        
                        <p>
                            Generate a customized configurable component either Core, Device, and/or Bus Interconnect.
                        </p>
                    </div>
                    <img src="assets/img/bigarrow.png" style="width: 20%;" />
                    
                </div>
                <div class="glass d-flex justify-content-between align-items-center" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 10px 15px;border: solid 1px rgba(255, 255, 255, 0.5);  margin-top: 20px;">
                    <div style="text-align: left;padding-left: 20px;">
                        <div>
                            <h4 class="head" style="width: 250px;">
                                Verification
                            </h4>
                        </div>
                        
                        <p>
                            Verify the Core, and/or Devices by pre-defined, compliance or custom testcases.
                        </p>
                    </div>
                    <img src="assets/img/bigarrow.png" style="width: 20%;" />
                    
                </div>
            </div>
            <div class="col-md-3">
                
            </div>

        </div>
    </section>
    
    <script src="assets/bs/js/bootstrap.js" ></script>
   
</body>
</html>