.hero{
    height: 100vh;
    padding-top: 100px;
    /* background-image: url("../img/nbg2.png"); */
    background: linear-gradient(0deg, #104b88, #1a223d );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   
}

.hero h1 {
    margin-top: 15vh;
    font-size: 15vmin;
    line-height: 20vmin;
  }
  .hero h4{
      font-weight: 100;
      color: white;
  }
  
  .gradient-text {
    color: transparent;
    background: conic-gradient(
      #D9D7F1 12%, 
      #BAABDA 12%, #00fff0 33%, 
      #E7FBBE 33%, #E7FBBE 55%, 
      #FFCBCB 55%, #FFCBCB 70%, 
      #B5DEFF 70%, #B5DEFF 87%, 
      #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
  
    animation: expand-rev 0.5s ease forwards;
  
    cursor: pointer;
  }
  
  .gradient-text:hover {
    animation: expand 0.5s ease forwards;
  }
  
  @keyframes expand {
    0% {
      background-size: 50%;
      background-position: 0 0;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 325%;
      background-position: -10em -4em;
    }
  }
  
  @keyframes expand-rev {
    0% {
      background-size: 325%;
      background-position: -10em -4em;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 50%;
      background-position: 0 0;
    }
  }

  .explr-btn{
      padding: 12px 20px;
      margin-top: 50px;
        background: #0087a2;
        color: white;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
  }

.clean-block{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-head{
    margin-top: 50px;
}
.line{
    border-top: #00a6c7 5px solid;
    width: 70px;
    margin-bottom: 50px;
}
.card{
    text-align: center;
    border-radius: 10px;
    outline: #1a223d;
}
.card:hover{
    background-color: #0087a2;
    color: white;
}
.card-head{
    text-align: center;
    padding: 25px;
}
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
.learn-more {
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
  line-height: 1.5;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .learn-more {
    width: 16rem;
    height: auto;
  }
  .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1a223d;
    border-radius: 1.625rem;
  }
  .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #1a223d;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .learn-more:hover .circle {
    width: 100%;
  }
  .learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  .learn-more:hover .button-text {
    color: #fff;
  }
  
  @supports (display: grid) {
   
  
    #containerr {
        margin: 50px 0px 30px 0px;
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }



  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
  }
  #progressbar li {
    list-style-type: none;
    color: white;
    font-size: 9px;
    width: calc(100%/3);
    float: left;
    position: relative;
    font: 500 13px/1 "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
  }
  #progressbar li:nth-child(2):before {
    content: "";
  }
  #progressbar li:nth-child(3):before {
    content: "";
  }
  #progressbar li:before {
    content: "";
    font: normal normal normal 30px/50px Ionicons;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #eaf0f4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
  }
  #progressbar li:after {
    content: "";
    width: 100%;
    height: 10px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
  }
  #progressbar li:last-child:after {
    width: 150%;
  }
  #progressbar li.active {
    color: #00fff0;
  }
  #progressbar li.active:before, #progressbar li.active:after {
    background: #00fff0;
    color: white;
  }
  #msform {
    text-align: left;
    position: relative;
    padding-top: 50px;
    min-height: 820px;
    max-width: 810px;
    margin: 0 auto;
    /* background: #ffffff; */
    z-index: 1;
    /* border: 1px solid #0087a2; */
    border-radius: 15px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .field-head{
      margin-left: 14%;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .field-head h6{
      font-weight: 300;
  }
  
  .left{
      text-align: left;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-group > * {
    margin: 0.5rem 0.5rem;
  }
  
  .checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: left;
    line-height: 1.125;
    margin-bottom: 1.25rem;
  }
  
  .checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox-input:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #0087a2;
  }
  .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #0087a2;
    border-color: #0087a2;
  }
  .checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #0087a2;
  }
  .checkbox-input:focus + .checkbox-tile {
    border-color: #0087a2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  .checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .checkbox-tile:hover {
    border-color: #0087a2;
  }
  .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
  }
  .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
  }
  
  .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
  }

  .back{
      /* background-image: url("../img/soc_bg.jpg"); */
background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background:  linear-gradient(114deg, #104b88, #1a223d );
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 100vh;
    }
    .form-group{
   background-color: white;
   margin: 0px 50px;
   padding: 5px 0px 50px 0px;
   border-radius: 15px;
    }

    .action-button {
        color: white;
        border: 0 none;
        border-radius: 5px;
        cursor: pointer;
        min-width: 130px;
        font: 700 14px/40px "Roboto", sans-serif;
        border: 1px solid rgb(90, 198, 251);
        background-color: #00b1ff;
        margin: 0 5px;
        text-transform: uppercase;
        display: inline-block;
      }

      .action-button:hover {
        background: #405867;
        border-color: #405867;
      }
      .previous_button {
        background: transparent;
        color: #99a2a8;
        border-color: #99a2a8;
      }
      .previous_button:hover, .previous_button:focus {
        background: #405867;
        border-color: #405867;
        color: #fff;
      }

      .btn-cont{
          margin: 50px 10% 50px 10%;
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
      .checkbox-icon{
          text-align: center;
      }

      fieldset{
          /* opacity: 0;
            transition: opacity 0.6s linear; */
            /* opacity: 0;
  transition: opacity 0.6s linear; */
  display: none;

      }
      .activee{
          /* opacity: 1; */
          display: block;
      }
      /* .dead{
          display: none;
      } */

      .no-flex{
          display: block;
      }
      #dev .checkbox-wrapper, #bus .checkbox-wrapper{
          width: 100%;
      }
      #dev .checkbox-tile{
          width: 40%;
          padding: 5px 10px;
      }
        #bus .checkbox-tile{
            width: 80%;
            padding: 5px 10px;
            margin-left: 10%;
        }
      #dev .checkbox, #bus .checkbox{
          margin-bottom: 20px;
      }
      .submit{
          display: none;
      }
      .finalize{
          /* padding: 100px 0px; */
          background:  linear-gradient(114deg, #104b88, #1a223d );
          background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
          min-height: 100vh;
      }

      .finalize .col1{
          /* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
border-radius: 16px 0px 0px 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.5px);
-webkit-backdrop-filter: blur(11.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
      }
      .finalize .col2{
          padding: 50px;
          background-color: #1a223d;
          color: white;
          border-radius: 0px 16px 16px 0px;
      }
      .finalize .col2 span{
          font-weight: 300;
          text-transform: capitalize;
      }
      .finalize .col2 h5{
          margin-bottom: 15px;
      }
      .finalize .col2 li {
          text-transform: uppercase;
      }

      .custom-btn {
        width: auto;
        padding: 0px 30px !important;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }

/* 1 */
.btn-1 {
    background: #104b88;
    /* background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%); */
    border: none;
  }
  .btn-1:hover {
     background: #00a6c7;
  /* background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%); */
  }
  .btn-con{
      margin-top: 50px;
  }

  /* body{
	background:#666;
    display: none;
} */
#rtl_loader{
	
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #0E1119;
    display: none;
}
#vcd_loader{
  min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #0E1119;
    display: none;
}
.dot {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
            animation: fx 1000ms ease infinite 0ms;
  }
  .dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
            animation: fx 1000ms ease infinite 300ms;
  }
  .dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
            animation: fx 1000ms ease infinite 600ms;
  }
  @-webkit-keyframes fx {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fx {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .verif{
      /* background-image: url("../img/verif_bg.jpg"); */
      background: linear-gradient(293deg, #104b88, #1a223d );
      background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
  }
  .tab-btn{
      background-color: #104a88b5;
      backdrop-filter: blur(11.5px);

      color: white;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 30px 20px;
      width: 100%;
  }
  .tab-btn:hover{
      background-color: #00a6c7;
  }
  .tab-btns .active{
        background-color: #00a6c7;
  }

  .custom-core{
      display: none;
  }
  .custom-core .container{
      background-color: #104a8879;
      backdrop-filter: blur(11.5px);

      height: 80vh;
      /* overflow-y: scroll; */
      color: white;
      padding: 10px;
      padding-top: 0px;
      border-radius: 20px;
  }
  .custom-soc{
      display: none;
  }
  .custom-soc .container{
    background-color: #104a8879;
    backdrop-filter: blur(11.5px);

    height: 80vh;
    /* overflow-y: scroll; */
    color: white;
    padding: 10px;
    padding-top: 0px;
    border-radius: 20px;
  }
  .editor-tab{
      text-align: center;
      background-color: #104a88;
      padding: 10px;
      font-size: large;
  }
  #verification-form .learn-more .button-text {
    color: white;
  }
  #main-s-dwnld-btn{
      display: none;
  }
  #main-s-div{
      display: none;
      margin-top: 10px;
      color: white;
  }
  #main-c-div{
    margin-top: 10px;
  }
  #custom-soc-form{
    margin-top: 10px;
  }
  #main-c-div .learn-more .button-text, #main-s-div .learn-more .button-text{
      color: white;
  }
  .code-editor{
      height: 60vh;
  }
  .editor-tab:hover{
        background-color: #007c95;
        cursor: pointer;
  }

  .editor-tab:nth-child(1){
      border-top-left-radius: 20px;
  }
  .editor-tab:nth-child(2){
    border-top-right-radius: 20px;
}
.editor-tab.active{
    background-color: #00a6c7;
}
.active-tab{
    background-color: #00a6c7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
      padding: 10px;
      font-size: large;
}

  .auto-core .container{
      background-color: #104a8879;
      backdrop-filter: blur(11.5px);

      max-height: 80vh;
      /* overflow-y: scroll; */
      color: white;
      padding: 50px;
      border-radius: 20px;
  }
  .auto-core .tests{
      overflow-y: scroll;
      max-height: 60vh;
  }
  .testsafter{
        overflow-y: scroll;
        height: 50vh;
  }
  .test-group{
      /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-bottom: 10px;
padding: 10px 40px;
width: 70%;
display: flex;justify-content: start;
align-items: center;

  }
  .test-group label{
      margin-left: 20px;
  }
  .test-group input{
      width: 20px;
      height: 20px;
  }


  .loading {
    --color: #F5F9FF;
    --duration: 2000ms;
    font-family: Roboto, Arial;
    font-size: 24px;
    position: relative;
    white-space: nowrap;
    user-select: none;
    color: var(--color);
  }
  .loading span {
    --x: 0;
    --y: 0;
    --move-y: 0;
    --move-y-s: 0;
    --delay: 0ms;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    text-indent: calc(var(--x) * -1);
    overflow: hidden;
    transform: translate(var(--x), var(--y));
  }
  .loading.start div {
    opacity: 0;
  }
  .loading.start span {
    animation: move var(--duration) ease-in-out var(--delay);
  }
  
  @keyframes move {
    30% {
      transform: translate(var(--x), var(--move-y));
    }
    82% {
      transform: translate(var(--x), var(--move-y-s));
    }
  }
 
#verif_loader {
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #151924;
    display: none;
  }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



.test-result{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
  min-height: 100vh;
}

.test-result h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}



.test-result .blue { color: #185875; }
.test-result .yellow { color: #42f2ff; }

.test-result .container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.test-result .container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.test-result.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.test-result .container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.test-result .container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.test-result .container tr:nth-child(even) {
	  background-color: #2C3446;
}

.test-result .container th {
	  background-color: #1F2739;
}

.test-result .container td:first-child { color: #FB667A; }

.test-result .container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.test-result .container td:hover {
  background-color: #42f2ff;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
    .test-result .container td:nth-child(4),
    .test-result .container th:nth-child(4) { display: none; }
}
 


@keyframes loading {
    0% {
      cy: 10;
    }
    25% {
      cy: 3;
    }
    50% {
      cy: 10;
    }
  }

  
  #canvas {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  #button {
    background: none;
    border: none;
    color: #f4f7ff;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    left: 90%;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    position: fixed;
    top: 95%;
    transform: translate(-50%, -50%);
    width: 190px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
  }
  #button::before {
    background: #1f2335;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4) inset;
    content: "";
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
    width: 100%;
  }
  
  #button.ready .submitMessage svg {
    opacity: 1;
    top: 1px;
    transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
  }
  #button.ready .submitMessage .button-text span {
    top: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--dr) + 600ms);
  }
  
  #button.loading::before {
    transition: width 0.3s ease;
    width: 80%;
  }
  #button.loading .loadingMessage {
    opacity: 1;
  }
  #button.loading .loadingCircle {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    cy: 10;
  }
  
  #button.complete .submitMessage svg {
    top: -30px;
    transition: none;
  }
  #button.complete .submitMessage .button-text span {
    top: -8px;
    transition: none;
  }
  #button.complete .loadingMessage {
    top: 80px;
  }
  #button.complete .successMessage .button-text span {
    left: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--d) + 1000ms);
  }
  #button.complete .successMessage svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
  }
  
  .button-text span {
    opacity: 0;
    position: relative;
  }
  
  .message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }
  
  .submitMessage .button-text span {
    top: 8px;
    transition: all 0.2s ease var(--d);
  }
  .submitMessage svg {
    color: #5c86ff;
    margin-left: -1px;
    opacity: 0;
    position: relative;
    top: 30px;
    transition: top 0.4s ease, opacity 0.3s linear;
    width: 14px;
  }
  
  .loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
  }
  .loadingMessage svg {
    fill: #5c86ff;
    margin: 0;
    width: 22px;
  }
  
  .successMessage .button-text span {
    left: 5px;
    transition: all 0.2s ease var(--dr);
  }
  .successMessage svg {
    color: #5cffa1;
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    transition: stroke-dashoffset 0.3s ease-in-out;
    width: 14px;
  }
  
  .loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
  }
  

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.33333em;
    height: 7.33333em;
    margin-left: -3.66667em;
    margin-top: -3.66667em;
  }
  
  .loader-block {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: 0;
    width: 2em;
    height: 2em;
    background: #fdfdfd;
    -webkit-animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
    animation: show 0.88s step-end infinite alternate, pulse 0.88s linear infinite alternate;
  }
  
  .loader-block:nth-child(1) {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation-delay: 0.065s;
    animation-delay: 0.065s;
  }
  
  .loader-block:nth-child(2) {
    -moz-transform: translate(2.66667em, 0);
    -ms-transform: translate(2.66667em, 0);
    -webkit-transform: translate(2.66667em, 0);
    transform: translate(2.66667em, 0);
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
  }
  
  .loader-block:nth-child(3) {
    -moz-transform: translate(5.33333em, 0);
    -ms-transform: translate(5.33333em, 0);
    -webkit-transform: translate(5.33333em, 0);
    transform: translate(5.33333em, 0);
    -webkit-animation-delay: 0.195s;
    animation-delay: 0.195s;
  }
  
  .loader-block:nth-child(4) {
    -moz-transform: translate(0, 2.66667em);
    -ms-transform: translate(0, 2.66667em);
    -webkit-transform: translate(0, 2.66667em);
    transform: translate(0, 2.66667em);
    -webkit-animation-delay: 0.325s;
    animation-delay: 0.325s;
  }
  
  .loader-block:nth-child(5) {
    -moz-transform: translate(2.66667em, 2.66667em);
    -ms-transform: translate(2.66667em, 2.66667em);
    -webkit-transform: translate(2.66667em, 2.66667em);
    transform: translate(2.66667em, 2.66667em);
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
  }
  
  .loader-block:nth-child(6) {
    -moz-transform: translate(5.33333em, 2.66667em);
    -ms-transform: translate(5.33333em, 2.66667em);
    -webkit-transform: translate(5.33333em, 2.66667em);
    transform: translate(5.33333em, 2.66667em);
    -webkit-animation-delay: 0.455s;
    animation-delay: 0.455s;
  }
  
  .loader-block:nth-child(7) {
    -moz-transform: translate(0, 5.33333em);
    -ms-transform: translate(0, 5.33333em);
    -webkit-transform: translate(0, 5.33333em);
    transform: translate(0, 5.33333em);
    -webkit-animation-delay: 0.39s;
    animation-delay: 0.39s;
  }
  
  .loader-block:nth-child(8) {
    -moz-transform: translate(2.66667em, 5.33333em);
    -ms-transform: translate(2.66667em, 5.33333em);
    -webkit-transform: translate(2.66667em, 5.33333em);
    transform: translate(2.66667em, 5.33333em);
    -webkit-animation-delay: 0.26s;
    animation-delay: 0.26s;
  }
  
  .loader-block:nth-child(9) {
    -moz-transform: translate(5.33333em, 5.33333em);
    -ms-transform: translate(5.33333em, 5.33333em);
    -webkit-transform: translate(5.33333em, 5.33333em);
    transform: translate(5.33333em, 5.33333em);
  }
  
  @-webkit-keyframes pulse {
    from,
    40% {
      background: #fdfdfd;
    }
    to {
      background: #dadada;
    }
  }
  @-webkit-keyframes show {
    from, 40% {
      opacity: 0;
    }
    41%, to {
      opacity: 1;
    }
  }
  @keyframes pulse {
    from,
    40% {
      background: #fdfdfd;
    }
    to {
      background: #dadada;
    }
  }
  @keyframes show {
    from, 40% {
      opacity: 0;
    }
    41%, to {
      opacity: 1;
    }
  }
  
  
  #vcd_loader{
      display: none;
  }


  .dl-button {
    --duration: 4000;
    --success: #16BF78;
    --grey-light: #99A3BA;
    --grey: #6C7486;
    --grey-dark: #3F4656;
    --light: #CDD9ED;
    --shadow: rgba(18, 22, 33, .6);
    --shadow-dark: rgba(18, 22, 33, .85);
    display: block;
    text-decoration: none;
    perspective: 500px;
  }
  .dl-button > div {
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    padding: 16px 24px;
    box-shadow: 0 4px 12px var(--shadow);
  }
  .dl-button > div .icon {
    --color: var(--grey);
    margin-right: 12px;
    position: relative;
    transform: translateZ(8px);
  }
  .dl-button > div .icon div {
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 22px;
  }
  .dl-button > div .icon div:before, .dl-button > div .icon div:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 2px;
    transition: opacity 0.3s ease;
  }
  .dl-button > div .icon div:before {
    left: 6px;
    background-image: radial-gradient(circle at 0 100%, var(--color) 2px, #fff 0px);
  }
  .dl-button > div .icon div:after {
    right: 6px;
    background-image: radial-gradient(circle at 100% 100%, var(--color) 2px, #fff 0px);
  }
  .dl-button > div .icon div svg {
    width: 20px;
    height: 18px;
    display: block;
    margin-top: 2px;
    position: relative;
    z-index: 1;
  }
  .dl-button > div .icon div svg.arrow {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translateY(-1px);
  }
  .dl-button > div .icon div svg.shape {
    color: var(--color);
    transition: color 0.4s ease;
  }
  .dl-button > div .icon span {
    --s: 1;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 2px;
    background: var(--color);
    height: 6px;
    border-radius: 50%;
    display: block;
    transform: translateY(0) scale(var(--s));
  }
  .dl-button > div .label {
    --color: var(--grey-dark);
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color);
    position: relative;
    transition: color 0.4s ease;
    transform: translateZ(8px);
  }
  .dl-button > div .label > div {
    display: flex;
    transition: opacity 0.25s ease;
  }
  .dl-button > div .label > div:not(.show) {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .dl-button > div .label > div.hide {
    opacity: 0;
  }
  .dl-button > div .label > div .counter {
    overflow: hidden;
    display: flex;
    height: 18px;
    line-height: 18px;
    margin: 2px 0;
    position: relative;
    transition: opacity 0.3s ease;
  }
  .dl-button > div .label > div .counter:before, .dl-button > div .label > div .counter:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1;
  }
  .dl-button > div .label > div .counter:before {
    top: 0;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  }
  .dl-button > div .label > div .counter:after {
    bottom: 0;
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
  }
  .dl-button > div .label > div .counter span {
    display: inline-block;
    margin: 0 4px 0 2px;
  }
  .dl-button > div .label > div .counter ul {
    --y: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 10px;
    height: 18px;
    -webkit-backface-visibility: hidden;
    transform: translateY(var(--y)) translateZ(0);
  }
  .dl-button > div .label > div .counter ul:nth-child(1) {
    transition: transform calc(var(--duration) * .2ms) ease-in-out;
  }
  .dl-button > div .label > div .counter ul:nth-child(2) {
    transition: transform calc(var(--duration) * .8ms) ease-in-out;
  }
  .dl-button > div .label > div .counter ul:nth-child(3) {
    transition: transform calc(var(--duration) * .8ms) ease-in-out;
  }
  .dl-button > div .label > div .counter ul li {
    width: 10px;
    height: 18px;
  }
  .dl-button > div .label > div .counter.hide {
    opacity: 0;
  }
  .dl-button > div .progress {
    --s: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    transform-origin: 50% 100%;
    transform: scaleY(var(--s));
    transition: transform 0.4s ease;
  }
  .dl-button > div .progress:before, .dl-button > div .progress:after {
    --s: 1;
    content: "";
    background: var(--success);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 0 50%;
    transform: scaleX(var(--s));
  }
  .dl-button > div .progress:before {
    opacity: 0.35;
  }
  .dl-button > div .progress:after {
    --s: 0;
    transition: transform calc(var(--duration) * .9ms) ease-in-out;
  }
  .dl-button.active > div {
    -webkit-animation: button calc(var(--duration) * 1ms) linear forwards;
            animation: button calc(var(--duration) * 1ms) linear forwards;
  }
  .dl-button.active > div .icon div:before, .dl-button.active > div .icon div:after {
    opacity: 0;
    transition-delay: 0.4s;
  }
  .dl-button.active > div .icon svg.arrow {
    -webkit-animation: arrow calc(var(--duration) * .18ms) linear 4 calc(var(--duration) * .2ms);
            animation: arrow calc(var(--duration) * .18ms) linear 4 calc(var(--duration) * .2ms);
  }
  .dl-button.active > div .icon span {
    -webkit-animation: span calc(var(--duration) * .18ms) linear 4 calc(var(--duration) * .2ms);
            animation: span calc(var(--duration) * .18ms) linear 4 calc(var(--duration) * .2ms);
  }
  .dl-button.active > div .label > div .counter ul:nth-child(1) {
    --y: -18px;
    transition-delay: calc(var(--duration) * .72ms);
  }
  .dl-button.active > div .label > div .counter ul:nth-child(2) {
    --y: -180px;
    transition-delay: calc(var(--duration) * .09ms);
    -webkit-animation: motion calc(var(--duration) * .5ms) linear forwards calc(var(--duration) * .19ms);
            animation: motion calc(var(--duration) * .5ms) linear forwards calc(var(--duration) * .19ms);
  }
  .dl-button.active > div .label > div .counter ul:nth-child(3) {
    --y: -540px;
    transition-delay: calc(var(--duration) * .075ms);
    -webkit-animation: motion calc(var(--duration) * .8ms) linear forwards calc(var(--duration) * .075ms);
            animation: motion calc(var(--duration) * .8ms) linear forwards calc(var(--duration) * .075ms);
  }
  .dl-button.active > div .progress {
    --s: 1;
    transition-delay: 0.4s;
  }
  .dl-button.active > div .progress:after {
    --s: 1;
    transition-delay: 0.4s;
  }
  .dl-button.done > div .icon {
    --color: var(--success);
  }
  .dl-button.done .label {
    --color: var(--success);
  }
  .dl-button.done .label .counter {
    width: 0;
  }
  
  @-webkit-keyframes arrow {
    38% {
      transform: translateY(100%);
      opacity: 1;
    }
    39% {
      transform: translateY(100%);
      opacity: 0;
    }
    40% {
      transform: translateY(-100%);
      opacity: 0;
    }
    41% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(-1px);
      opacity: 1;
    }
  }
  
  @keyframes arrow {
    38% {
      transform: translateY(100%);
      opacity: 1;
    }
    39% {
      transform: translateY(100%);
      opacity: 0;
    }
    40% {
      transform: translateY(-100%);
      opacity: 0;
    }
    41% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(-1px);
      opacity: 1;
    }
  }
  @-webkit-keyframes span {
    25% {
      transform: translateY(2px) scale(var(--s));
    }
    55% {
      transform: translateY(2px) scale(var(--s));
    }
    80%, 100% {
      transform: translateY(0) scale(var(--s));
    }
  }
  @keyframes span {
    25% {
      transform: translateY(2px) scale(var(--s));
    }
    55% {
      transform: translateY(2px) scale(var(--s));
    }
    80%, 100% {
      transform: translateY(0) scale(var(--s));
    }
  }
  @-webkit-keyframes motion {
    20%, 70% {
      filter: blur(0.4px);
    }
  }
  @keyframes motion {
    20%, 70% {
      filter: blur(0.4px);
    }
  }
  @-webkit-keyframes button {
    0% {
      transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
    }
    10% {
      transform: translateX(0) translateZ(0) scale(0.96) rotateY(0deg);
      box-shadow: 0 4px 8px var(--shadow-dark);
    }
    20% {
      transform: translateX(-16px) translateZ(32px) scale(1) rotateY(-16deg);
      box-shadow: 4px 12px 20px var(--shadow-dark);
    }
    85% {
      transform: translateX(16px) translateZ(32px) scale(1) rotateY(16deg);
      box-shadow: -4px 12px 20px var(--shadow-dark);
    }
    95% {
      transform: translateX(0) translateZ(0) scale(1.12) rotateY(0deg);
      box-shadow: 0 8px 24px var(--shadow-dark);
    }
    100% {
      transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
    }
  }
  @keyframes button {
    0% {
      transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
    }
    10% {
      transform: translateX(0) translateZ(0) scale(0.96) rotateY(0deg);
      box-shadow: 0 4px 8px var(--shadow-dark);
    }
    20% {
      transform: translateX(-16px) translateZ(32px) scale(1) rotateY(-16deg);
      box-shadow: 4px 12px 20px var(--shadow-dark);
    }
    85% {
      transform: translateX(16px) translateZ(32px) scale(1) rotateY(16deg);
      box-shadow: -4px 12px 20px var(--shadow-dark);
    }
    95% {
      transform: translateX(0) translateZ(0) scale(1.12) rotateY(0deg);
      box-shadow: 0 8px 24px var(--shadow-dark);
    }
    100% {
      transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
    }
  }
  .dl-button.done + .restart {
    opacity: 1;
    visibility: visible;
  }
  
  .restart {
    --grey-dark: #3F4656;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--grey-dark);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
  }
  .restart svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: top;
  }
  
  /* html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242836;
    padding: 20px;
  }
  body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
  }
  body .dribbble img {
    display: block;
    height: 28px;
  } */

  .nav-item{
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
  .nav-item.active{
    border-bottom: 1px solid white;
  }
  .nav-item.active:hover{
    color: white;
  }
  .nav-item:hover{
    border-bottom: 1px solid #007c95;
    color: #007c95;
  }
  

.components {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #1a223d;
  overflow-x:hidden;
  color: #ababab; }
/* 
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  
}

::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
} */

.heading-page
{
      text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}
.comp{
  background: linear-gradient(114deg, #104b88, #1a223d );
  min-height: 100vh;
  color: white;
  padding-top: 100px;
}


.comp .heading{
  text-align: center;
  color: white;
  height: 100px;
  background-color: #0080a755;
  align-items: center !important;
  line-height: 100px;
  margin-bottom: 0px;
      border-bottom: 1px solid #548ea5;

}

.comp .title{
  color: white;
  text-align: left !important;
  /* justify-content: center !important; */
  padding: 0px 0px 0px 50px;
  border-right: solid 1px #ffffff57;
  width: 300px;
  background-color: #0080a700;
  align-items: center !important;
  line-height: 100px;
  display: flex;
  flex: 1;
  margin-bottom: 0px;
  height: auto;
  
}
.comp .buttonsDiv{
  padding: 10px;
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  /* justify-content: center; */
  height: auto;
  align-items: center !important;
  /* line-height: 100px; */
}
.comp .buttons{
  background-color: #007FA7;
  color: white;
  border-radius: 5px;
  border: 1px rgba(255, 255, 255, 0.469) solid;
  width: 150px;

  height: 40px;
  margin: 3px;
}
.comp .buttons:hover{
  background-color: #193549;
  color: white;
  border: 1px white solid;
  font-weight: bold;
}
.comp .contentDiv{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* margin-top: -10px; */
  border-bottom: 1px solid #548ea5;
  /* height: 100px;/ */
}

.soc_verif{
  background: linear-gradient(114deg, #104b88, #1a223d );
  min-height: 100vh;
  color: white;
  padding-top: 100px;
}
.soc_verif .container{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.fin-btn{
  background-color: #104a88;
  color: white;
  padding: 10px 20px;
}
.fin-btn:hover{
  color: white;
  background-color: #007c95;
}
.mapFPGA{
  background: linear-gradient(114deg, #104b88, #1a223d );
  min-height: 100vh;
  color: white;
  padding-top: 100px;
}

.select {
  position: relative;
  /* min-width: 200px; */
  width: 100%;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.simple-borders{
  border: 1px solid white;
  border-radius: 25px;
}
.darker-borders{
  background-color: #033454;
  border-radius: 10px;
}

.bitstream{
  background: linear-gradient(114deg, #104b88, #1a223d );
  min-height: 100vh;
  color: white;
  padding-top: 100px;

}
.bitstream .glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bit-file-frame{
  border: 1px solid white;
  border-radius: 15px;
  
  margin: 10px 0px;
}
.file-ico{
  background-image: url("../img/file-ico.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.file-title{
padding: 50px 0px;
font-weight: bolder;
font-size: large;
}
.button.dark-single {
  --background: none;
  --rectangle: #242836;
  --success: #4bc793;
}
.button.white-single {
  --background: none;
  --rectangle: #f5f9ff;
  --arrow: #275efe;
  --success: #275efe;
  --shadow: rgba(10, 22, 50, .1);
}
.button.dark {
  --background: #242836;
  --rectangle: #1c212e;
  --arrow: #f5f9ff;
  --text: #f5f9ff;
  --success: #2f3545;
}
.button {
  --rectangle: #184fee;
  --success: #4672f1;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}
.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}
.button ul li:nth-child(2) {
  top: 76px;
}
.button ul li:nth-child(3) {
  top: 136px;
}
.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}
.button > div:before, .button > div:after {
  content: '';
  display: block;
  position: absolute;
}
.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}
.button > div:after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaleY(0);
}
.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button.loading ul {
  animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
  animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
  animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
  animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
@keyframes text {
  10%, 85% {
      transform: translateY(-100%);
 }
  95%, 100% {
      transform: translateY(-200%);
 }
}
@keyframes line {
  5%, 10% {
      transform: translateY(-30px);
 }
  40% {
      transform: translateY(-20px);
 }
  65% {
      transform: translateY(0);
 }
  75%, 100% {
      transform: translateY(30px);
 }
}
@keyframes svg {
  0%, 20% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
 }
  21%, 89% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 26px;
      stroke-width: 3px;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
 }
  100% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 0;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
 }
  12% {
      opacity: 1;
 }
  20%, 89% {
      opacity: 0;
 }
  90%, 100% {
      opacity: 1;
 }
}
@keyframes background {
  10% {
      transform: scaleY(0);
 }
  40% {
      transform: scaleY(0.15);
 }
  65% {
      transform: scaleY(0.5);
      border-radius: 0 0 50% 50%;
 }
  75% {
      border-radius: 0 0 50% 50%;
 }
  90%, 100% {
      border-radius: 0;
 }
  75%, 100% {
      transform: scaleY(1);
 }
}
.file-btn{
  display: flex;justify-content: center;align-items: center;
}   

#comp_loader{
  min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #0E1119;
    display: none;

}
.RTL{
  background: linear-gradient(114deg, #104b88, #1a223d );
  min-height: 100vh;
  color: white;
  padding-top: 100px;
}