.hero-main{
    background-image: url("../img/bg.png");
    height: 100vh;
    background-size: cover;
    color: white;
}

.glass{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    height: 100%;
}
.center{
    text-align: center;
}
.justify{
    /* text-align?: justify; */
    font-size: x-large;
}
.blue-btn{
    background-color: #007FA7;
    border-radius: 10px;
    color: white;
    width: 25%;
    font-size: x-large;
    box-shadow: 3px 3px 6px #00000030
}
.blue-btn:hover{
    color: white;
    background-color: #0d8ab1;
}
.blue-btn div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blue-btn div:hover{
    justify-content: space-around;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: x-large;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: white;
    border-bottom: solid 1px white;
}
.nav .active{
    border-bottom: solid 1px white;
}
.contact {
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px #00000011;
    border:none;
    font-size: larger;
    margin-top: 10px;
}
.contact:active{
    border:none;
}
.dblue-btn{
    background-color: #033454;
    border-radius: 10px;
    color: white;
    width: 25%;
    font-size: x-large;
    box-shadow: 3px 3px 6px #00000030;
    padding: 0px;
}
.dblue-btn:hover{
    color: white;
    background-color: #0d8ab1;
}

.hero-grad{
    background-image: url("../img/grad.png");
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    color: white;
}
.donot:hover {
    color: white;
    border-bottom: none !important;
}

.login-btn{
    background-color: #1A6084;
    border-radius: 0px;
    color: white;
    width: 25%;
    font-size: x-large;
    box-shadow: 3px 3px 6px #00000030;
    padding: 0px;
}
.login-btn:hover{
    color: white;
    background-color: #0d8ab1;
}

.pas-input:active{
    border:none !important;
    border-color: white;
}

.head{
    font-weight: lighter;
    border-bottom: 1px solid #00FFE5;
}
.middle{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
}

.frame{
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 15px 0px 15px 15px;
}
.frame-btn{
    color: white;
    border-radius: 0px 15px 0px 0px ;
    border:1px solid white;
}
.frame-btn:hover{
    color: white;
    background-color: #007FA7;

    
}
.fin-btn{
    color: white;
    background-color: #007FA7;
    padding: 0px 20px;
    margin-bottom: 20px;
    font-size: larger;
    border-radius: 10px;
}
.fin-btn:hover{
    color: white;

}
.down-btn{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding:8px 15px;
    font-weight: lighter;
}
.down-btn:hover{
    color: white;
    background-color: #007FA7;
}

.bordered-box{
    border: 1px solid #007FA7;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 0px 0px #ffffff66;
    background-color: #007FA7
}

.long-btn{
    color: white;
    background-color: #42b9dd;
    padding: 40px 30px;
    margin-bottom: 20px;
    font-size: larger;
    border-radius: 10px;
    /* width: 70%; */
}
.long-btn:hover{
    color: white;

}