{% extends 'base2.html' %}


{% load static %}


{% block nana %}
<style>
    body{
        overflow-x: hidden;
    }
</style>

       
        <div class="row" style="margin-top: 3vh;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="height: 100%;text-align: center;">
                <br>
                <div class="glass" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 40px 45px;border: solid 1px rgba(255, 255, 255, 0.5); margin-top: 15vh;">
                    <div style="text-align: left">
                        <div>
                            <h4 class="head" style="width: 100px;">
                                About
                            </h4>
                        </div>
                        
                        <p>
                            An open source no cost tool for creating customized SoC using No Code. This Mini SoC Generator will generate an System on Chip (SoC).
                            It will be based on RISC-V ISA (IMFC extensions) (32-bit). It will take specifications of the SoC as parameters. All the Modules will be parameterized and reusable, for anyone who requires just a single part instead of an entire SoC. High Level approaches will be used by using CHISEL (Constructing Hardware in Scala Embedded Language)
                        </p>
                    </div>                    
                </div>
                
            </div>
            <div class="col-md-3">
                
            </div>

        </div>
    
{% endblock %}