{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoC-Now</title>
    <link href="{% static 'bs/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <link href="https://unpkg.com/augmented-ui@2.0.0/augmented-ui.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/addon/scroll/simplescrollbars.min.css" />


    <script src="{% static 'codemirror/codemirror-5.65.0/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror/codemirror-5.65.0/theme/ayu-dark.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/codemirror-5.65.0/lib/codemirror.css' %}">
<script src="{% static 'codemirror/codemirror-5.65.0/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/codemirror-5.65.0/addon/display/autorefresh.js' %}"></script>

</head>
<body>

    <nav class="navbar navbar-dark fixed-top">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/socLogo.png' %}" style="width:10%"></a>
                <div class="d-flex align-items-center justify-content-between" style="width: 33.33%;">
                        <a class="nav-item" href="{% url 'index' %}">Home</a>
                        <a class="nav-item" href="{% url 'soc' %}">SoC</a>
                        <a class="nav-item" href="{% url 'components' %}">Components</a>
                        <a class="nav-item" href="{% url 'verif_select' %}">Verification</a>
                        <a class="nav-item" href="{% url 'home' %}">About</a>


                </div>
            </div>
        </div>
      </nav>

      <script src="{% static 'js/jquery.min.js' %}"></script>

      <script>
            function loloo(){
        $(document).ready(function() {

let loading = $('.loading').wrapInner('<div></div>'),
    min = 20,
    max = 70,
    minMove = 10,
    maxMove = 20;

startAnimation(loading);

loading.on('animationend webkitAnimationEnd oAnimationEnd', 'span:last-child', e => {
    startAnimation(loading);
});

//Set CSS vars & generate spans if needed
function setCSSVars(elem, min, max, minMove, maxMove) {
    let width = Math.ceil(elem.width()),
        text = elem.text();
    for(let i = 1; i < width; i++) {
        let num = Math.floor(Math.random() * (max - min + 1)) + min,
            numMove = Math.floor(Math.random() * (maxMove - minMove + 1)) + minMove,
            dir = (i % 2 == 0) ? 1 : -1,
            spanCurrent = elem.find('span:eq(' + i + ')'),
            span = spanCurrent.length ? spanCurrent : $('<span />');
        span.css({
            '--x': i - 1 + 'px',
            '--move-y': num * dir + 'px',
            '--move-y-s': ((i % 2 == 0) ? num * dir - numMove : num * dir + numMove) + 'px',
            '--delay': i * 10 + 'ms'
        });
        if(!spanCurrent.length) {
            elem.append(span.text(text));
        }
    }
}

//Start animation
function startAnimation(elem) {
    elem.removeClass('start');
    setCSSVars(elem, min, max, minMove, maxMove);
    void elem[0].offsetWidth;
    elem.addClass('start');
}

});
    }
    

      </script>
{% block content %}

{% endblock %}
 
</body>
</html>