{% load static %}
{% include 'base.html' %}

{% block content %}

<body class="hero-grad">
    <section id="main" class="clean-block" style="height: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div style="text-align: left;">
                    <img src="{% static 'img/socLogo.png' %}" style="width: 40%; margin-top: 10px;" /><br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav justify-content-evenly">
                    <div> <a href="{% url 'home' %}"> Home </a></div>
                    <div> <a href="{% url 'about2' %}"> About </a></div>
                    <div><a href="{% url 'contact2' %}"> Contact </a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: right;">
                    <img src="{% static 'img/profile.png' %}" style="width: 20%; margin-top: 10px;" />
                </div>
            </div>
        </div>
       
       
        {% block nana %}

        {% endblock nana %}

      
        
        
    </section>
    <section id="loader" class="clean-block" style="height: 100%;">
        <div class="row">
            <div class="col-md-3">
                <div style="text-align: left;">
                    <img src="{% static 'img/socLogo.png' %}" style="width: 40%; margin-top: 10px;" /><br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nav justify-content-evenly">
                    <div> <a href="{% url 'home' %}"> Home </a></div>
                    <div> <a href="{% url 'about2' %}"> About </a></div>
                    <div><a href="{% url 'contact2' %}"> Contact </a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: right;">
                    <img src="{% static 'img/profile.png' %}" style="width: 20%; margin-top: 10px;" />
                </div>
            </div>
        </div>
        <form method="post" onbeforeunload="assignValue()"> {% csrf_token %}
          <input type="hidden" id="anyId" name="loaded" value="">

        </form>
       
        <script>
          function assignValue(){
          document.getElementById("anyId").value="reloaded";
          }
        </script>
        <div class="container" style="text-align: center; margin-top: 20vh;">
            <div class="loadingio-spinner-double-ring-319ae1des27"><div class="ldio-wwfef3pxad">
                <div></div>
                <div></div>
                <div><div></div></div>
                <div><div></div></div>
                </div></div>
                <style type="text/css">
                @keyframes ldio-wwfef3pxad {
                  0% { transform: rotate(0) }
                  100% { transform: rotate(360deg) }
                }
                .ldio-wwfef3pxad div { box-sizing: border-box!important }
                .ldio-wwfef3pxad > div {
                  position: absolute;
                  width: 144px;
                  height: 144px;
                  top: 28px;
                  left: 28px;
                  border-radius: 50%;
                  border: 16px solid #000;
                  border-color: #93dbe9 transparent #93dbe9 transparent;
                  animation: ldio-wwfef3pxad 1s linear infinite;
                }
                
                .ldio-wwfef3pxad > div:nth-child(2), .ldio-wwfef3pxad > div:nth-child(4) {
                  width: 108px;
                  height: 108px;
                  top: 46px;
                  left: 46px;
                  animation: ldio-wwfef3pxad 1s linear infinite reverse;
                }
                .ldio-wwfef3pxad > div:nth-child(2) {
                  border-color: transparent #689cc5 transparent #689cc5
                }
                .ldio-wwfef3pxad > div:nth-child(3) { border-color: transparent }
                .ldio-wwfef3pxad > div:nth-child(3) div {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  transform: rotate(45deg);
                }
                .ldio-wwfef3pxad > div:nth-child(3) div:before, .ldio-wwfef3pxad > div:nth-child(3) div:after { 
                  content: "";
                  display: block;
                  position: absolute;
                  width: 16px;
                  height: 16px;
                  top: -16px;
                  left: 48px;
                  background: #93dbe9;
                  border-radius: 50%;
                  box-shadow: 0 128px 0 0 #93dbe9;
                }
                .ldio-wwfef3pxad > div:nth-child(3) div:after {
                  left: -16px;
                  top: 48px;
                  box-shadow: 128px 0 0 0 #93dbe9;
                }
                
                .ldio-wwfef3pxad > div:nth-child(4) { border-color: transparent; }
                .ldio-wwfef3pxad > div:nth-child(4) div {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  transform: rotate(45deg);
                }
                .ldio-wwfef3pxad > div:nth-child(4) div:before, .ldio-wwfef3pxad > div:nth-child(4) div:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 16px;
                  height: 16px;
                  top: -16px;
                  left: 30px;
                  background: #689cc5;
                  border-radius: 50%;
                  box-shadow: 0 92px 0 0 #689cc5;
                }
                .ldio-wwfef3pxad > div:nth-child(4) div:after {
                  left: -16px;
                  top: 30px;
                  box-shadow: 92px 0 0 0 #689cc5;
                }
                .loadingio-spinner-double-ring-319ae1des27 {
                  width: 200px;
                  height: 200px;
                  display: inline-block;
                  overflow: hidden;
                  /* background: #f1f2f3; */
                }
                .ldio-wwfef3pxad {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  transform: translateZ(0) scale(1);
                  backface-visibility: hidden;
                  transform-origin: 0 0; /* see note above */
                }
                .ldio-wwfef3pxad div { box-sizing: content-box; }
                /* generated by https://loading.io/ */
                </style>

                <h3>Generating RTL</h3>
        </div>

        
    </section>
    <script>
        function showLoaderOnClick(url) {
            showLoader();
            window.location=url;
        }
        function showLoader(){
            var m =document.getElementById("main");
            m.style.display = "none";
            var l = document.getElementById("loader");
            l.style.display = "block";
        } 
    </script>

       
{% endblock content %}