{% extends 'base2.html' %}

{% load static %}

{% block nana %}

<style>
    body{
        overflow-x: hidden;
    }
   
</style>   
       
   
       
        <div class="row" style="margin-top: 3vh;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="height: 100%;text-align: center;">
                <br>
                <div class="glass" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 40px 45px;border: solid 1px rgba(255, 255, 255, 0.5); margin-top: 3vh;">
                    <div style="text-align: left">
                        <div>
                            <h4 class="head" style="width: 300px;">
                                Bitsream Download
                            </h4>
                            <br>
                            <p class="middle">
                                The Bistream File for the selected SoC Configuration and FPGA Constraints
                            </p>
                            
                           
                            
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 bit-file-frame">
                                <div class="row">
                                    
                                    <div class="col-md-3 file-ico">
                                        <p> 0101 </p>
                                    </div>
                                    <div class="col-md-6 file-title">
                                        ProjectName_Username.bit
                                    </div>
                                    <div class="col-md-3 file-btn">
                                        <a href="" class="button white-single">
                                            <div id="dwn">
                                                <svg  viewBox="0 0 24 24"></svg>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'mapFPGA' %}">  <img src="{% static 'img/boldarrow2.png' %}" style="width: 70%;" /> </a>
                            <a href="{% url 'home' %}">  <img src="{% static 'img/home-ico.png' %}" style="width: 70%;" /> </a>

                            
                        </div>
                        </div>


                        
                        
                       
                    </div>                    
                </div>
                
            </div>
            <div class="col-md-3">
                
            </div>

        </div>

      <script>
          document.querySelectorAll('.button').forEach(button => {

let duration = 3000,
    svg = button.querySelector('svg'),
    svgPath = new Proxy({
        y: null,
        smoothing: null
    }, {
        set(target, key, value) {
            target[key] = value;
            if(target.y !== null && target.smoothing !== null) {
                svg.innerHTML = getPath(target.y, target.smoothing, null);
            }
            return true;
        },
        get(target, key) {
            return target[key];
        }
    });

button.style.setProperty('--duration', duration);

svgPath.y = 20;
svgPath.smoothing = 0;

button.addEventListener('click', e => {
    
    e.preventDefault();

    if(!button.classList.contains('loading')) {

        button.classList.add('loading');

        gsap.to(svgPath, {
            smoothing: .3,
            duration: duration * .065 / 1000
        });

        gsap.to(svgPath, {
            y: 12,
            duration: duration * .265 / 1000,
            delay: duration * .065 / 1000,
            ease: Elastic.easeOut.config(1.12, .4)
        });

        setTimeout(() => {
            svg.innerHTML = getPath(0, 0, [
                [3, 14],
                [8, 19],
                [21, 6]
            ]);
        }, duration / 2);

      
    }
});



});

function getPoint(point, i, a, smoothing) {
let cp = (current, previous, next, reverse) => {
        let p = previous || current,
            n = next || current,
            o = {
                length: Math.sqrt(Math.pow(n[0] - p[0], 2) + Math.pow(n[1] - p[1], 2)),
                angle: Math.atan2(n[1] - p[1], n[0] - p[0])
            },
            angle = o.angle + (reverse ? Math.PI : 0),
            length = o.length * smoothing;
        return [current[0] + Math.cos(angle) * length, current[1] + Math.sin(angle) * length];
    },
    cps = cp(a[i - 1], a[i - 2], point, false),
    cpe = cp(point, a[i - 1], a[i + 1], true);
return `C ${cps[0]},${cps[1]} ${cpe[0]},${cpe[1]} ${point[0]},${point[1]}`;
}

function getPath(update, smoothing, pointsNew) {
let points = pointsNew ? pointsNew : [
        [4, 12],
        [12, update],
        [20, 12]
    ],
    d = points.reduce((acc, point, i, a) => i === 0 ? `M ${point[0]},${point[1]}` : `${acc} ${getPoint(point, i, a, smoothing)}`, '');
return `<path d="${d}" />`;
}


      </script>
        
        {% endblock %}  