{% extends 'base2.html' %}

{% load static %}

{% block nana %}
<style>
    body{
        overflow-x:hidden;
    }
</style>

<div class="comp">

    <div class="CoreMainContainer">
        <h2 class="heading">
            Cores
        </h2>
        <div class="contentDiv">
            <h3 class="title">Wishbone</h3>
            <div class="buttonsDiv">
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbi' %}')" class="buttons">RV32I</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbic' %}')" class="buttons">RV32IC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbif' %}')" class="buttons">RV32IF</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbim' %}')" class="buttons">RV32IM</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbimc' %}')" class="buttons">RV32IMC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbimf' %}')" class="buttons">RV32IMF</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbifc' %}')" class="buttons">RV32IFC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='corewbimfc' %}')" class="buttons">RV32IMFC</button>
            </div>

        </div>
        <div class="contentDiv">
            <h3 class="title">Tilelink</h3>
            <div class="buttonsDiv">
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretli' %}')" class="buttons">RV32I</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlic' %}')" class="buttons">RV32IC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlif' %}')" class="buttons">RV32IF</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlim' %}')" class="buttons">RV32IM</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlimc' %}')" class="buttons">RV32IMC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlimf' %}')" class="buttons">RV32IMF</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlifc' %}')" class="buttons">RV32IFC</button>
                <button onclick="showLoaderOnClick('{% url 'gen' component='coretlimfc' %}')" class="buttons">RV32IMFC</button>
            </div>

        </div>
        
        
        





        <div class="CoreMainContainer">
            <h2 class="heading">
                Devices
            </h2>
            <div class="contentDiv">
                <h3 class="title">Wishbone Integrated</h3>
                <div class="buttonsDiv">
                    <button onclick="showLoaderOnClick('{% url 'gen' component='gpiowb' %}')" class="buttons">GPIO</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='spiwb' %}')" class="buttons">SPI</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='spifwb' %}')" class="buttons">SPI-Flash</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='uartwb' %}')" class="buttons">UART</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component="timerwb" %}')" class="buttons">TIMER</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='i2cwb' %}')" class="buttons">I <sup>2</sup>C </button>
                </div>

            </div>
            <div class="contentDiv">
                <h3 class="title">Tilelink Integrated</h3>
                <div class="buttonsDiv">
                    <button onclick="showLoaderOnClick('{% url 'gen' component='gpiotl' %}')" class="buttons">GPIO</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='spitl' %}')" class="buttons">SPI</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='spiftl' %}')" class="buttons">SPI-Flash</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='uarttl' %}')" class="buttons">UART</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='timertl' %}')" class="buttons">TIMER</button>
                    <button onclick="showLoaderOnClick('{% url 'gen' component='i2ctl' %}')" class="buttons">I <sup>2</sup>C </button>
                </div>

            </div>







            <div class="CoreMainContainer">
                <h2 class="heading">
                    Buses
                </h2>
                <div class="contentDiv">
                    <h3 class="title">Options</h3>
                    <div class="buttonsDiv">
                        <button onclick="showLoaderOnClick('{% url 'gen' component='wb' %}')" class="buttons">Wishbone</button>
                        <button onclick="showLoaderOnClick('{% url 'gen' component='tl' %}')" class="buttons">TL-UL</button>
                        <button onclick="showLoaderOnClick('{% url 'gen' component='tlc' %}')" class="buttons">TL-C</button>
                        
                    </div>
    
                </div>
               



    </div>








</div>

{% endblock %}