{% extends 'base.html' %}

{% load static %}

{% block content %}


<section id="main" class="clean-block finalize">

    <div class="container">

        <div class="row">
            <div class="col-md-6 col1">
                <img src="{% static 'img/diagram.png' %}" style="width: 100%;" />
            </div>
            <div class="col-md-6 col2">
                <h3> Untitled SoC </h3>
                <div class="line"></div>
                <h5> ISA: <span>32-bit</span> </h5>
                <h5> Architecture: <span>RISC-V</span> </h5>
                <h5> Core: <span>RV32{{ ext }}</span> </h5>
                <h5> Devices: </h5>
                <ol>
                    {% for device in devices %}
                        <li> {{ device }} </li>
                    {% endfor %}
                </ol>
                <h5> Bus Interconnect: <span>{{ bus }}</span> </h5>

                <div class="btn-con d-flex justify-content-between align-items-center">
                   
                    <button onclick="showLoaderOnClick('{% url 'gen' component='soc' %}')" class="custom-btn btn-1"><span>Generate RTL</span></button>
                    <button onclick="window.location.href = '{% url 'verif_soc' %}'" class="custom-btn btn-1"><span>Verify RTL</span></button>
                    <button onclick="showLoaderOnClick('{% url 'selectFPGA' %}')" class="custom-btn btn-1"><span>Generate Bitstream</span></button>
                </div>

            </div>
        </div>

    </div>

</section>

<div id="rtl_loader">
    <div class="loading">Generating RTL</div>
</div>


<script>
    function showLoaderOnClick(url){
        var main = document.getElementById('main');
        var loader = document.getElementById('rtl_loader');
        var body = document.getElementsByTagName('body')[0];
        main.style.display = 'none';
        loader.style.display = 'flex';
        loloo();
        window.location.href = url;
    }
</script>


{% endblock content %}