{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    body{
        overflow-x: hidden;
    }
   
</style>   
       
   <section class="clean-block mapFPGA">
       
        <div class="row" style="margin-top: 3vh;">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="height: 100%;text-align: center;">
                <br>
                <div class="glass" style="border-radius: 15px; backdrop-filter: blur(50px); padding: 40px 45px;border: solid 1px rgba(255, 255, 255, 0.5); margin-top: 3vh;">
                    <div style="text-align: left">
                        <div>
                            <h4 class="head" style="width: 300px;">
                                Map I/Os to FPGA
                            </h4>
                            <br>
                            <p class="middle">
                                Map what SoC pins shall be mapped into FPGA components
                            </p>
                            
                           
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-7">
                                <img src="{% static 'img/fpga/arty.png' %}" style="width:100%;" />
                                <br><br>
                                    
                            </div>
                            <div class="col-md-5 darker-borders"  style="padding-top:15px">
                                <ul id="gener">
                                    <h6> Mapped IOs </h6>
                                </ul>
                            </div>
                            
                            <br>
                        
                        </div>


                        <br><br>
                        <div class="row">
                                
                            <div class="col-md-12 simple-borders">
                                <div class="container row" style="padding-top:15px;text-align: center;">
                                    {% for comp in input_comps %}
                                    <div class="col-md-3" style="margin-bottom:10px">
                                        {{ comp }}

                                        <label  class="select" for="slct">
                                            <select onchange="addToXdc(event)" id="slct" name={{ comp }} required="required">
                                            <option value="" disabled="disabled" selected="selected">Select i/o</option>
                                            {% for io in inputs %}
                                                <option value="{{ io }}"> {{ io }} </option>
                                            {% endfor %}
                                            
                                        </select><svg>
                                            <use xlink:href="#select-arrow-down"></use>
                                        </svg></label><!-- SVG Sprites--><svg class="sprites">
                                            <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                                <polyline points="1 1 5 5 9 1"></polyline>
                                               </symbol>
                                        </svg>
                                    </div>
                                    {% endfor %}

                                    {% for comp in output_comps %}
                                    <div class="col-md-3" style="margin-bottom:10px">
                                        {{ comp }}

                                        <label  class="select" for="slct">
                                            <select onchange="addToXdc(event)" id="slct" name={{ comp }} required="required">
                                            <option value="" disabled="disabled" selected="selected">Select i/o</option>
                                            {% for io in outputs %}
                                                <option value="{{ io }}"> {{ io }} </option>
                                            {% endfor %}
                                            
                                        </select><svg>
                                            <use xlink:href="#select-arrow-down"></use>
                                        </svg></label><!-- SVG Sprites--><svg class="sprites">
                                            <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                                <polyline points="1 1 5 5 9 1"></polyline>
                                               </symbol>
                                        </svg>
                                    </div>
                                    {% endfor %}
        
                                   

                                </div>

                                

                                <br>
                                

                            </div>
                            
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'selectFPGA' %}">  <img src="{% static 'img/boldarrow2.png' %}" style="width: 70%;" /> </a>
                            <a href="{% url 'programFPGA' %}">  <img src="{% static 'img/boldarrow.png' %}" style="width: 70%;" /> </a>

                            {% comment %} <a onclick="bitstreamLoader('{% url 'bitstream' %}')"> {% endcomment %}
                        </div>


                        
                        
                       
                    </div>                    
                </div>
                
            </div>
            <div class="col-md-3">
                
            </div>

        </div>

    </script>            


                            

        <script>

            var mappedElements = JSON.parse('{{ el | escapejs }}');
            console.log(mappedElements);
            addToGener();
            fillInInputs();

            function addToGener(){
                var gener = document.getElementById("gener");
                Object.keys(mappedElements).forEach(function(key) {
                    var li = document.createElement("li");
                    li.innerHTML = key + " -- " + mappedElements[key];
                    gener.appendChild(li);
                });
            }

            function fillInInputs(){
                Object.keys(mappedElements).forEach(function(key) {
                    var input = document.getElementsByName(key);
                    input[0].value = mappedElements[key];
                });
            }

            function addToXdc(e){
                var element = e.target;
                var name = element.name;
                var value = element.value;
                window.location.href = `/soc/addxdc/${name}/${value}`;
            }

            
            
        </script>

      
        
        {% endblock %}  