{% extends 'base2.html' %}


{% load static %}


{% block nana %}
<script src="{% static 'codemirror/codemirror-5.65.0/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror/codemirror-5.65.0/theme/ayu-dark.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/codemirror-5.65.0/lib/codemirror.css' %}">
<script src="{% static 'codemirror/codemirror-5.65.0/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/codemirror-5.65.0/addon/display/autorefresh.js' %}"></script>
<style>
    body{
        overflow-x: hidden;
    }
</style>

        <!-- <div class="container"> -->
            <div class="container">
                <form id="program-form" method="post">
                    {% csrf_token %}
                <div class="col-md-12 bordered-box">
                    <textarea name="editor" id="editor">{{program}}</textarea>
                </div>
                <br>
                <br>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'mapFPGA' %}"> 
                        <button class="btn fin-btn">< Back</button> </a>
                    <button type="button" onclick="bitstreamLoader()" class="btn fin-btn" style="padding:10px 25px">Program and Generate Bitstream</button>
                    
                </div>
                <br>
                <div class="hide" id="output" style="text-align:center">
                    <!-- <b>Program OUTPUT </b> -->
                </div>
                <br>
                <br>
            </form>
            </div>
        <!-- </div> -->

    <script>
        function runCode() {
            var btn=document.getElementById("upload");
            btn.classList.remove("disabled");
            var output=document.getElementById("output");
            output.classList.remove("hide");
        }
    
        var editor = document.getElementById("editor");
        CodeMirror.fromTextArea(
            editor,
            {
                lineNumbers: true,
                matchBrackets: true,
                theme: "ayu-dark",
                mode: "text/x-c",
                autoRefresh: true,
                scrollbars:true,
                
            }
        ).setSize(null, "100%");
    </script>
    

{% endblock %}