{% extends 'base.html' %}
{% load static %}

{% block content %}


<code class="code-container" content="// Jane 💜">
    <div class="glow-container">
      <div class="augs" data-augmented-ui></div>
    </div>
    <section class="augs bg" data-augmented-ui>
      <button class="dots" onclick="changeMode()" title="change mode"></button>
      <input value="propjockey.io">
      <div class="code highcontrast-dark">
        <textarea id="code">
  @keyframes cast-bit-to-space-toggle {
    to { --cbtst-space-toggle: ; }
  }
  
  @property --cbtst-space-toggle {
    syntax: "*";
    initial-value: initial;
    inherits: false;
  }
  
  :where(.cbtst) {
    --cbtst-animation: cast-bit-to-space-toggle
      1ms linear both var(--cbtst-bit, 0);
    animation: var(--cbtst-animation);
  }
  
  /* usage */
  .my-el.cbtst {
    --cbtst-bit: 1; /* provide input value of 0 or 1 */
    /* var(--cbtst-space-toggle) is the output */
  }
        </textarea>
      </div>
    </section>
  </div>
  
  
 

{% endblock content %}
