{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoC-Now</title>
    <link href="{% static 'bs/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

{% block content %}

{% endblock %}

<script src="{% static 'bs/js/bootstrap.js' %}" ></script>
</body>
</html>