{% load static %}

{% include 'base.html' %}

{% block content %}
<style>
    body{
        overflow-x: hidden;
    }
</style>
<body class="hero-grad">
    <div class="container">
        <section class="clean-block" style="height: 100%;">
            <div class="row">
                <div class="col-md-3">
                    <div style="text-align: left;">
                        <img src="{% static 'img/socLogo.png' %}" style="width: 40%; margin-top: 10px;" /><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="nav justify-content-evenly">
                        <div> <a href="{% url 'home' %}"> Home </a></div>
                        <div> <a href="{% url 'about2' %}"> About </a></div>
                        <div><a href="{% url 'contact2' %}"> Contact </a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="text-align: right;">
                        <img src="assets/img/profile.png" style="width: 20%; margin-top: 10px;" />
                    </div>
                </div>
            </div>

            <div style="text-align: center;margin-top: 10vh;">
                <div class="container">
                    <button class="btn long-btn"> Core </button>
                </div>
                <div class="container">
                    <button class="btn long-btn"> Devices</button>
                </div>
                <div class="container">
                    <button class="btn long-btn"> Bus </button>
                </div>
            </div>
        
    </div>

{% endblock %}