<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoC-Now</title>
    <link href="assets/bs/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<style>
    body{
        overflow-x: hidden;
    }
</style>
<body class="hero-grad">
    <section class="clean-block" style="height: 100%;">
        
       
        <div class="row" style="margin-top: 3vh;">
            <div class="col-md-3">
                <div style="text-align: center;">
                    <img src="assets/img/socLogo.png" style="width: 70%; margin-top: 20vh;" /><br>
                    An open source no cost tool for creating customized SoC using No Code
                </div>
            </div>
            <div class="col-md-6 glass" style="backdrop-filter: blur(50px);height: 100%;text-align: center;border: solid 1px rgba(255, 255, 255, 0.1);">
                <br>
                
                <h1 style="margin-top: 34vh; margin-bottom: 34vh;">Your Application is Under Review.
                    You will be contacted by our team shortly.</h1>
                <button class="btn login-btn">
                     Home
                </button>
                <br><br>
            </div>
            <div class="col-md-3">
                <div class="nav justify-content-evenly">
                    <div> <a href="{% url 'about1' %}"> About </a></div>
                    <div><a href="{% url 'contact1' %}"> Contact </a></div>
                </div>
            </div>

        </div>
    </section>
    
    <script src="assets/bs/js/bootstrap.js" ></script>
   
</body>
</html>